* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo img {
    height: 44px;
    width: 44px;
}

#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#title {
    font-size: 2.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #111;
    padding: 8px 28px;
}

nav ul {
    list-style: none;;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin: 0 4px 0 4px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: gray;
}

nav ul li a:active{
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div {
    margin-bottom: 60px;
}

.hero {
    height: 100dvh;
    width: 100dvw;
    background-color: #1d1d1f;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero > h1 {
    font-size: 3.5rem;
}

.hero > p {
    color: gray;
    font-size: 1.5rem;
}

.hero > button {
    position: absolute;
    top: 75%;
    margin: 100px;
    border: 2px #1d1d1f solid;
    background-color: #111;
    color: white;
    font-size: 1.3rem;
    padding: 20px;
    border-radius: 3rem;
    transition: scale 0.5s;
}

.hero > button:hover {
    color: gray;
    scale: 1.1;
}

.hero > button:active {
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    border: #111 2px solid;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px
}

.card img{
    width: 90%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .card-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    nav{
        display: none;
    }
}